/**
 * CSS
 * 
 */

html body {
    margin: 60px auto;
    width: 70%;
    font-family: 'AmstelvarAlpha';
    font-variation-settings: "wght"100;
    color: black;
}

h1{
    font-variation-settings: "wght"800;
    font-size: 3.4em;
}

h2{
    font-variation-settings: "wght"800;
    font-size: 2em;
}

h3{
    font-variation-settings: "wght"400;
    font-size: 1.75em;
}

li{
  font-variation-settings: "wght"400;
  font-size: 1.75em;
  line-height: 1.25em;
}



main a {
    text-decoration: none;
    padding: 2px 0px 2px 0px;
    background-image: linear-gradient( transparent 0%, transparent calc(50% - 3px), rgb(0, 0, 0) calc(50% - 3px), rgba(255, 255, 255, 0.15) 100% );
    transition: background-position 320ms ease-in-out, padding 220ms ease-in-out;
    background-size: 100% 200%;
    background-position: 0 0;
    line-height: 1.75em;
  }
  
  main a:hover {
    padding: 2px 0px 2px 0px;
    background-image: linear-gradient( transparent 0%, transparent calc(25% - 3px), rgb(0, 0, 0) calc(25% - 3px), rgb(255, 255, 255) 100% );
    background-position: 0 100%;
    color: aliceblue;
  }

  main a:visited{
    color: black;
  }

#prmgtitle {
    background-color: rgb(250, 250, 253);
    line-height: 1.25em;
    padding: 7%;
}

#prmgtitle li{
  font-variation-settings: "wght"100;
  font-size: 1em;
}

#data{
    font-variation-settings: "wght"100;
    font-size: 0.9em;
    color: blueviolet;
}

#projects p{
  //background-color: rgb(250, 250, 253);
  line-height: 0.5em;
}

/**
 * interface elements
 */

 #gui {
    width: 25%;
 }

 input[type=range] {
    -webkit-appearance: none;
    margin: 0px, 0px;
    width: 100%;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: rgb(43, 20, 247);
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 8px;
    background: currentColor;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }

/**
 * Grid Formats
 */

#canvasGrid_01 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    grid-gap: 2%;
    margin: 0;
    margin-top: 1%;
}

@font-face {
    font-family: 'AmstelvarAlpha';
    src: url('../font/AmstelvarAlpha-VF.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}
