@font-face {
    font-family: police1;
    src:url("../media/OfficeCodePro-Medium.ttf");
}
    
body {
        margin:0;
        padding:0;
}


#description {
    font-family: police1;
    color:pink;
    width: 48%;
    padding-left:15px;
    margin-left:50%;
}    

canvas {
        position: fixed;
        top:0px;
        left:0px;
        
}
